In [44]:
import pandas as pd
data = pd.read_csv("BTC-USD.csv")
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn import utils

#convert y values to categorical values
lab = preprocessing.LabelEncoder()


#view transformed values


x = data.drop(columns = ['Date','Close'])
y = data['Close']
y_transformed = lab.fit_transform(y)

# print(y_transformed)

x_train, x_test, y_train, y_test = train_test_split(x, y_transformed, test_size = 0.2)
model = DecisionTreeClassifier()
model.fit(x, y_transformed)

predictions = model.predict(2748, -1)
predictions


# predictions = model.predict(x_test)
# score = accuracy_score(y_test, predictions)
# score

ValueError: Expected 2D array, got scalar array instead:
array=2748.0.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [37]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...,...
2742,2022-03-21,41246.132813,41454.410156,40668.042969,41077.996094,41077.996094,24615543271
2743,2022-03-22,41074.105469,43124.707031,40948.281250,42358.808594,42358.808594,32004652376
2744,2022-03-23,42364.378906,42893.507813,41877.507813,42892.957031,42892.957031,25242943069
2745,2022-03-24,42886.652344,44131.855469,42726.164063,43960.933594,43960.933594,31042992291
2746,2022-03-25,43958.675781,44982.519531,43711.871094,44395.964844,44395.964844,30379415552

In [38]:
x

              Open
0       465.864014
1       456.859985
2       424.102997
3       394.673004
4       408.084991
...            ...
2742  41246.132813
2743  41074.105469
2744  42364.378906
2745  42886.652344
2746  43958.675781

[2747 rows x 1 columns]

In [39]:
y

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2742    41077.996094
2743    42358.808594
2744    42892.957031
2745    43960.933594
2746    44395.964844
Name: Close, Length: 2747, dtype: float64